<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Expense-tracker</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">家庭記事本</a>
    </nav>
  </header>

  <main>
    <div class="container mt-3">
      {{{body}}}
    </div>
  </main>
</body>

</html>