<ul>
  {{#each records}}
  <li>
    {{{this.name}}} {{this.money}}
    <a href="/records/{{this.id}}/edit">edit</a>
    <button type="submit">delete</button>
  </li>
  {{/each}}
</ul>

<a href="/records/new">Create</a>