<div class="container col-7 my-5 py-3 ">
  <div class="card card-body">
    <div class="text-center mb-4">
      <h2>Sign Up</h2>
    </div>

    <form style="font-size: 20px;">
      <div class="form-group">
        <label>Name</label>
        <input type="email" class="form-control" id="name" name="name" placeholder="Enter your name" required>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"
          required>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Enter your password"
          required>
      </div>

      <div class="form-group text-center mt-5">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>

    </form>

    <p style="font-size: 20px;">Have An Account ? <span><a href="/users/login">Login Here</a></span></p>
  </div>
</div>